*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
    
    header{
     width: 100%;
     height: 100vh;
     background-image: url('../images/bg.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
    }
     .nav{
        padding-left: 230px;
     }
     #head{
        padding-left: 25px;

     }
    
    .mainheader{
     width: 100%;
     height: 100px;
     display: flex;
/*     padding: 15px;*/
     justify-content: space-between;
     align-items: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    }
    
    .mainheader .logo img{
     width: 250px;
     height: 70px;
     padding-left: 60px;
     
    }
    
    .mainheader nav{
     width: 350px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    
    .mainheader nav a{
     text-decoration: none;
     white-space: nowrap;
     color: black;
     text-transform: uppercase;
    }
    
    .menubtn{
     margin-right: 60px;
        color: green;
    }
    .mainheader button{
    
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,#568951,#568951,#568951);
    border-radius: 10px;

    }
    
    
    main{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main .right-sec{
     padding-right: 70px;
    }
    
    main .left-sec{
     padding-left: 100px;
    padding-top: 200px;

    }
    
    .left-sec h2{
     font-size: 1.0rem;
     font-family: PT Serif sans-serif;
     color: #709184;
     margin-top: 75px;
    }
    
    .left-sec h1{
     font-size: 38px;
     font-family: "libre Franklin" sans-serif ;
     margin: 15px 0;
    }
    
    .left-sec p{
     margin-bottom: 20px;
    }
    
    .left-sec button{
     padding: 15px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#95B494,#95B494,#95B494);
     border-radius: 10px;
    }
    .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.cards{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 80px;

}
.btn {
    display: flex;
    position: relative;
    border-radius: 25px;
    box-shadow:10px 20px;
    box-shadow: 5px 5px 20px 0px #568951b0;
    border-color: darkolivegreen;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 10px;
    font-size: 50px;
}
.image{
    align-items: center;
    height: 215px;
    margin-top: -80px;
    margin-right: -60px;
}
.i{
    color: green;
}

 .card-slider {
      display: flex;
      overflow-x: auto;
      scrollbar-width: none; /* Hide scrollbar for Firefox */
      -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    }

    .card {
      width: 300px;
    margin-right: -20px;
    margin-bottom: 25px;
    margin-left: 66px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    }

    .card img {
      width: 100%;
      height: auto;
    }
